*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --base-hue: 250;
  --background-color: hsl(var(--base-hue), 30%, 50%);
  --outer-border-color: hsl(calc(var(--base-hue) + 150), 70%, 50%);
  --middle-border-color: hsl(calc(var(--base-hue) + 150), 70%, 70%);
  --inner-border-color: hsl(calc(var(--base-hue) + 150), 70%, 90%);
}

body {
  user-select: none;
  background: var(--background-color);
  font-family: monospace;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title {
  text-align: center;
  color: white;
}

.game-board-outer,
.game-board-middle,
.game-board-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1 / 1;
}

.game-board-outer {
  width: 47.75rem;
  border: 0.5rem solid lightgrey;
}

.game-board-middle {
  border: 0.25rem solid lightgrey;
}

.game-board-inner {
  border: 0.125rem solid lightgrey;
}

.select-tile-btn {
  border: 1px solid lightgrey;
  background: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.x-confirm,
.o-confirm {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background: black;
  border-radius: 2rem;
  cursor: pointer;
  border-color: transparent;
  text-align: center;
  transition: scale 200ms ease-in-out;

  &:hover {
    scale: 1.1;
  }
}

.x-confirm {
  left: 10rem;
}

.o-confirm {
  right: 10rem;
}

.hidden {
  display: none;
}
